<!---ЙОГИЧЕСКАЯ МЕДИТАЦИЯ-->


<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../static/css/main/header.css" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" href="../static/css/main/footer.css" th:href="@{/css/main/footer.css}">
    <link rel="stylesheet" href="../static/css/article/style.css" th:href="@{/css/article/style.css}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script
            src="https://kit.fontawesome.com/fd9c503804.js"
            crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/logo/logo.png}">
    <title>InnerCalmQuest.com</title>
</head>
<body>
<input type="checkbox" id="menu-toggle">
<!---Шапка-->
<header>
    <!--- Логотип в шапке-->
    <div class="header-logo">
        <img src="/image/logo/logo.png" alt="Логотип сайта">
    </div>
    <label for="menu-toggle" class="menu-icon"></label>
    <h1 class="header-title">Найди своё спокойствие!!!</h1>

    <!--- Меню выбора в шапке-->
    <nav class="header-nav">
        <ul>
            <li class="header-menu-item"><a class="header-menu-link" href="/">Главная</a></li>
            <li><a class="header-menu-link" href="/meditationOnline">Медитируй онлайн</a></li>
            <li><a class="header-menu-link" href="/meditationMusic">Музыка для медитации</a></li>
            <li><a class="header-menu-link" href="/articlesUseful">Полезные статьи</a></li>
            <li><a class="header-menu-link" href="/meditationShop">Магазин</a></li>
            <li><a class="header-menu-link" href="/feedback">Обратная связь</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="article-container">
        <img class="article-image" src="/image/article/article5.jpg" alt="Article Image">
        <div class="article-content">
            <div class="article-title">
                <h1>Йогическая медитация</h1>
            </div>
            <div class="article-text">
                <p>
                    Йога и медитация давно признаны эффективными методами улучшения физического и психического благополучия. Одним из важных аспектов йогической традиции является йогическая медитация, представляющая собой практику, направленную на достижение гармонии между телом, разумом и душой. Давайте рассмотрим основные принципы и пользу йогической медитации.
                </p>
                <h2>
                    Основы йогической медитации:
                </h2>
                <p>
                    Йогическая медитация основана на древних индийских учениях йоги, где уделяется внимание не только физическим упражнениям, но и практикам для ума и души. Эта форма медитации включает в себя различные техники дыхания (пранаяму), концентрации внимания (дхарана), и самопогружение в медитацию (дхьяна).
                </p>
                <h2>
                    Преимущества для физического здоровья:
                </h2>
                <p>
                    Практика йогической медитации способствует улучшению общего физического состояния. Регулярные занятия способствуют укреплению мышц, улучшению гибкости, а также стабилизации нервной системы. Контроль дыхания, основанный на пранаяме, помогает улучшить качество сна, повысить энергию и снизить уровень стресса.
                </p>
                <h2>
                    Психические и эмоциональные выгоды:
                </h2>
                <p>
                    Йогическая медитация также имеет многочисленные психические и эмоциональные выгоды. Она способствует улучшению концентрации и внимания, помогает справляться с эмоциональным напряжением, а также развивает внутреннюю устойчивость к стрессовым ситуациям. Медитация может стать мощным инструментом для улучшения эмоционального благополучия и уравновешивания психического состояния.
                </p>
                <h2>
                    Духовное развитие:
                </h2>
                <p>
                    Для многих практикующих йогической медитации она также становится путем к духовному развитию. Практика медитации может привести к глубокому пониманию себя, природы жизни и внутреннего мира. Люди часто отмечают, что йогическая медитация помогает им находить внутреннюю гармонию и смысл в повседневной жизни.
                </p>
                <h2>
                    Заключение:
                </h2>
                <p>
                    Йогическая медитация представляет собой мощный инструмент для достижения гармонии и внутреннего спокойствия. Регулярная практика может привести к улучшению физического и психического здоровья, а также способствовать духовному развитию. Начинайте с малого, открывайтесь опыту и погружайтесь в удивительный мир йогической медитации.
                </p>
            </div>
            <a href="articlesUseful.html" class="back-button">Назад</a>
        </div>
    </div>
</main>


<footer class="footer">
    <div class="footer-container">
        <div class="about">
            <h2>О разработчиках</h2>
            <p>
                Выполнили студенты
            </p>
            <p>
                группы ИКБО-16-22
            </p>
            <p>
                Жолобов И.В.
            </p>
            <p>
                Панкратова А.К.
            </p>
            <p>
                Пархоменко Г.Д.
            </p>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/meditationOnline">Медитируй онлайн</a></li>
                <li><a href="/meditationMusic">Музыка для медитации</a></li>
                <li><a href="/articlesUseful">Полезные статьи</a></li>
                <li><a href="/meditationShop">Магазин</a></li>
            </ul>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/article10">О сне</a></li>
                <li><a href="/article11">О осознанности</a></li>
                <li><a href="#">О нас</a></li>
                <li>
                    <a href="/article8">Практики</a>
                </li>
                <li><a href="/feedback">Обратная связь</a></li>
            </ul>
        </div>

        <div class="contact">
            <h2>Контакты</h2>
            <ul class="contact-list">
                <li class="contact-list-item">
                    <a href="#">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Москва, проспект Вернадского, 78</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:izholobov2004@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                        <span>izholobov2004@gmail.com</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:pankratova.a.k@edu.mirea.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>pankratova.a.k@edu.mirea.ru</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:mc.goshanskyi@yandex.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>mc.goshanskyi@yandex.ru</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>