<!---Медитация осознанности-->


<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../static/css/main/header.css" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" href="../static/css/main/footer.css" th:href="@{/css/main/footer.css}">
    <link rel="stylesheet" href="../static/css/article/style.css" th:href="@{/css/article/style.css}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script
            src="https://kit.fontawesome.com/fd9c503804.js"
            crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/logo/logo.png}">
    <title>InnerCalmQuest.com</title>
</head>
<body>
<input type="checkbox" id="menu-toggle">
<!---Шапка-->
<header>
    <!--- Логотип в шапке-->
    <div class="header-logo">
        <img src="/image/logo/logo.png" alt="Логотип сайта">
    </div>
    <label for="menu-toggle" class="menu-icon"></label>
    <h1 class="header-title">Найди своё спокойствие!!!</h1>

    <!--- Меню выбора в шапке-->
    <nav class="header-nav">
        <ul>
            <li class="header-menu-item"><a class="header-menu-link" href="/">Главная</a></li>
            <li><a class="header-menu-link" href="/meditationOnline">Медитируй онлайн</a></li>
            <li><a class="header-menu-link" href="/meditationMusic">Музыка для медитации</a></li>
            <li><a class="header-menu-link" href="/articlesUseful">Полезные статьи</a></li>
            <li><a class="header-menu-link" href="/meditationShop">Магазин</a></li>
            <li><a class="header-menu-link" href="/feedback">Обратная связь</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="article-container">
        <img class="article-image" src="/image/article/article3.png" alt="Article Image">
        <div class="article-content">
            <div class="article-title">
                <h1>Медитация осознанности</h1>
            </div>
            <div class="article-text">
                <p>
                    Медитация осознанности – это практика, целью которой является помочь острее прочувствовать настоящий момент, обратить наше внимание на свои телесные ощущения и мысли.

                    В рамках медитации осознанности применяются разные техники, помогающие сосредоточиться на настоящем моменте, одна из них – использование дыхания в качестве якоря. Каждый раз, когда во время практики мы отвлекаемся на свои мысли, надо сфокусировать свое внимание на дыхании. Наблюдение за естественным ритмом вдохов и выдохов возвращает нас в настоящий момент.

                    Помимо концентрации внимания на дыхании, наблюдение за ощущениями, которые возникают в теле, тоже является важной частью медитации осознанности. Информация, которую мы получаем через наши органы слуха, зрения, обоняния, вкуса, осязания, играет важную роль для развития осознанности.

                    Медитацию осознанности не следует путать со скорой помощью для выхода из трудных ситуаций. Цель практики не в том, чтобы заменить одни чувства на другие, а в том, чтобы развить способность принимать то, что мы чувствуем здесь и сейчас.

                </p>
                <h2>
                    Как медитировать
                </h2>
                <p>
                    Одной из целей практики является сделать медитацию привычкой. Самый быстрый способ добиться того – это включить практику в свой ежедневный распорядок дня. Поэтому если вы новичок, постарайтесь выделить для медитации определенное время в течение дня. Но не давите на себя! Изучение техник медитации – это тоже часть процесса, которая очень важна.

                    Не делайте поспешных выводов. Медитация не обещает только приятные ощущения после каждой практики, поэтому примите тот факт, что каждая медитация будет не похожа на предыдущую. Помните, нет людей, которые не умеют медитировать. Все, что нужно – это регулярность и доверие к процессу. Дайте себе столько времени, сколько необходимо именно вам, изучайте себя с искренним любопытством, но без осуждения.

                    Подготовьте себя к медитации. Прежде чем сесть медитировать, напомните себе, почему вы хотите продолжать практику, и постарайтесь заметить, как вы себя чувствуете сразу после нее. Желание и намерение медитировать важно для сохранения мотивации. Цель медитации не в том, чтобы полностью избавиться от мыслей. Вместо этого мы пытаемся переместить наш фокус внимания на то, что происходит в нашем теле, в душе, в голове здесь и сейчас. Все, что вы испытываете во время медитации – это нормально. Просто оставайтесь в моменте и сосредоточьтесь на практике.

                    Практика сострадания – важная часть концепции осознанности. Есть три уровня сострадания: сострадание, которое мы получаем от других, сострадание, которое мы дарим окружающим и сострадание к себе. На первом уровне мы принимаем сочувствие и понимание, которые нам оказывают окружающие. Второй уровень подразумевает признание чужой боли и способность предложить утешение. Самосострадание же помогает нам смягчить свой внутренний критический голос и проявить доброту и заботу по отношению к себе. В сложные времена каждый из этих уровней особенно актуален. Если вам сложно продолжать медитировать или вы чувствуете, что делаете что-то неправильно, вместо того, чтобы критиковать себя, вспомните о силе сострадания и понимания. Какие-то дни даются легче, какие-то сложнее. Ваш опыт будет меняться со временем. Создайте пространство, где вы будете добры к себе, не осуждая свой опыт, а принимая его таким какой он есть.

                </p>
                <h2>
                    Что нужно сделать перед медитацией?
                </h2>
                <p>
                    Суть медитации в концентрации на дыхании и своих ощущениях, поэтому очень важно найти удобное место, где вы можете сосредоточиться на настоящем моменте, не отвлекаясь. Только когда мы чувствуем себя комфортно и безопасно, мы можем расслабиться и заглянуть внутрь себя, исследовать свое тело и мысли. Однако следует помнить, что есть и альтернативные способы сделать осознанность частью своей жизни.

                    Часто, когда мы говорим о медитации, многие думают, что это подразумевает долгое нахождение в позе лотоса. Такое представление ведет к тому, что у людей возникает мысль: «Я не умею сидеть в позе лотоса, значит, я не могу и медитировать!» Однако существуют разные позы для медитации, и вы обязательно найдете ту, которая вам подходит. Вы можете сесть на стул, касаясь ногами пола, или же можете сесть, скрестив ноги. Лучшее положение – то, в котором вы чувствуете себя наиболее комфортно. Вы также можете медитировать лежа, но помните, что в этом положении велика вероятность быстро уснуть. Несмотря на то, что некоторые медитации как раз и направлены на то, чтобы ускорить засыпание, наше основное намерение – это осознание настоящего момента.

                </p>
                <h2>
                    Медитация и стресс
                </h2>
                <p>
                    Стресс и тревожность – одни из самых частых эмоций в нашей повседневной жизни, последствия этих разрушающих состояний знакомы многим. Медитация позволяет снизить уровень стресса и обрести состояние душевного равновесия и расслабления. Программы, имеющие научно доказанный эффект, например, по снижению стресса на основе осознанности (MBSR), наглядно показывают, что медитация – эффективный инструмент в борьбе со стрессом.

                    Однако важно понимать, что осознанность или медитация сами по себе не являются основной терапией при хроническом стрессе или тревожности, поскольку эти состояния могут быть вызваны причинами, которые требуют серьезного лечения. Практика медитации осознанности помогает сформировать новые привычки и привести к структурным изменения мозга, оказывая воздействие на области, отвечающие за регуляцию внимания и эмоций. Исследования показывают, что медитация осознанности не только помогает снизить уровень стресса, но и повышает устойчивость к негативным мыслям во время стресса.
                </p>
            </div>
            <a href="articlesUseful.html" class="back-button">Назад</a>
        </div>
    </div>
</main>


<footer class="footer">
    <div class="footer-container">
        <div class="about">
            <h2>О разработчиках</h2>
            <p>
                Выполнили студенты
            </p>
            <p>
                группы ИКБО-16-22
            </p>
            <p>
                Жолобов И.В.
            </p>
            <p>
                Панкратова А.К.
            </p>
            <p>
                Пархоменко Г.Д.
            </p>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/meditationOnline">Медитируй онлайн</a></li>
                <li><a href="/meditationMusic">Музыка для медитации</a></li>
                <li><a href="/articlesUseful">Полезные статьи</a></li>
                <li><a href="/meditationShop">Магазин</a></li>
            </ul>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/article10">О сне</a></li>
                <li><a href="/article11">О осознанности</a></li>
                <li><a href="#">О нас</a></li>
                <li>
                    <a href="/article8">Практики</a>
                </li>
                <li><a href="/feedback">Обратная связь</a></li>
            </ul>
        </div>

        <div class="contact">
            <h2>Контакты</h2>
            <ul class="contact-list">
                <li class="contact-list-item">
                    <a href="#">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Москва, проспект Вернадского, 78</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:izholobov2004@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                        <span>izholobov2004@gmail.com</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:pankratova.a.k@edu.mirea.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>pankratova.a.k@edu.mirea.ru</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:mc.goshanskyi@yandex.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>mc.goshanskyi@yandex.ru</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>