<!---О осознанности-->


<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../static/css/main/header.css" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" href="../static/css/main/footer.css" th:href="@{/css/main/footer.css}">
    <link rel="stylesheet" href="../static/css/article/style.css" th:href="@{/css/article/style.css}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script
            src="https://kit.fontawesome.com/fd9c503804.js"
            crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/logo/logo.png}">
    <title>InnerCalmQuest.com</title>
</head>
<body>
<input type="checkbox" id="menu-toggle">
<!---Шапка-->
<header>
    <!--- Логотип в шапке-->
    <div class="header-logo">
        <img src="/image/logo/logo.png" alt="Логотип сайта">
    </div>
    <label for="menu-toggle" class="menu-icon"></label>
    <h1 class="header-title">Найди своё спокойствие!!!</h1>

    <!--- Меню выбора в шапке-->
    <nav class="header-nav">
        <ul>
            <li class="header-menu-item"><a class="header-menu-link" href="/">Главная</a></li>
            <li><a class="header-menu-link" href="/meditationOnline">Медитируй онлайн</a></li>
            <li><a class="header-menu-link" href="/meditationMusic">Музыка для медитации</a></li>
            <li><a class="header-menu-link" href="/articlesUseful">Полезные статьи</a></li>
            <li><a class="header-menu-link" href="/meditationShop">Магазин</a></li>
            <li><a class="header-menu-link" href="/feedback">Обратная связь</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="article-container">
        <img class="article-image" src="/image/article/article10.png" alt="Article Image">
        <div class="article-content">
            <div class="article-title">
                <h1>О осознанности</h1>
            </div>
            <div class="article-text">
                <p>
                    Осознанность – это присутствие в моменте через наблюдение за тем, что происходит внутри и вокруг нас. Суть осознанности в том, чтобы осознавать и принимать свои чувства вместо того, чтобы подавлять их или избегать. Такой подход помогает контролировать свои эмоции и не позволяет им управлять вашим поведением. Осознанность можно практиковать не только в формате медитации. В повседневной жизни осознанность – это безоценочное наблюдение за тем, что вы делаете в настоящий момент, переключение своего внимания с мыслей о прошлом или будущем на происходящее здесь и сейчас. Чем осознаннее мы подходим к повседневным действиям, тем лучше мы понимаем причины своих чувств и мыслей. Развить такую осознанность помогает регулярная практика медитации.


                    Осознанность во многом влияет на наше поведение в той или иной ситуации, поскольку она позволяет нам интерпретировать происходящее без внутреннего осуждения и оценки. Это дает возможность спокойно и ясно мыслить даже в условиях кризиса, помогая понять истинные причины своих чувств, будь то гнев, печаль, радость и что-то другое. Во время еды, прогулки и даже разговора с любимым человеком важно быть более осознанными и полностью присутствовать в моменте, не позволяя своим мыслям отвлекаться от происходящего здесь и сейчас. Таким образом, регулярная практика осознанности позволяет быть более осведомленными о своих чувствах и мыслях, помогая использовать свои внутренние ресурсы себе во благо.

                    Осознанность – это отношение и образ мыслей, которые затрагивают такие важные понятия, как терпение, благодарность и принятие.

                    Не стоит путать осознанность с позитивным мышлением. Цель практики не в том, чтобы улучшить настроение. Речь идет скорее о том, чтобы осознавать текущий момент и учиться быть в нем, независимо от того, что происходит. Один из распространенных способов практиковать осознанность – с помощью медитации.

                </p>
                <h2>
                    Как практиковать осознанность
                </h2>
                <p>
                    Некоторые ошибочно считают, что развить осознанность можно только с помощью медитации, но цели медитации лежат не только в области осознанности. Осознанность – это отношение и образ мыслей, и ее можно практиковать независимо от медитации, просто активно наблюдая за тем, что мы делаем в тот или иной момент времени.

                    К практике осознанности можно подходить как формально, так и неформально.

                    Формальный подход – это выделение специального времени для медитации. Это могут быть управляемые практики, сканирование тела или даже медитации в движении.

                    Неформальная практика подразумевает осознание того, что происходит вокруг вас в самые обычные моменты жизни, например, когда вы моете посуду. Основная цель – полностью сосредоточиться на задаче, которую вы выполняете.

                    Таким образом, практиковать осознанность можно по-разному. Преимущество формальной практики заключается в том, что, изучая техники концентрации, мы развиваем способность уделять внимание и повседневным задачам в том числе. Время, которое уделяем медитации, имеет важное значение, поскольку именно во время практики мы трансформируем паттерны работы нашего мозга.

                </p>
                <h2>
                    Так как же выглядит медитация осознанности?
                </h2>
                <p>
                    Одна из медитаций осознанности, которая затрагивает многие аспекты общей практики – это пятиступенчатая медитация осознанного дыхания. Вот коротко о каждом шаге:
                </p>
                <ol>
                    <li>На первом этапе считайте перед выдохом: сделайте вдох, а на выдохе мысленно скажите «раз» и так до десяти, а затем опять начинайте считать сначала. Цель не столько в том, чтобы сосредоточиться на счете, сколько в том, чтобы удерживать внимание на дыхании. </li>
                    <li>На втором этапе мы считаем перед вдохом: скажите «раз» и сделайте вдох, потом выдох, затем мысленно скажите «два» перед следующим вдохом и продолжайте, как и на первом шаге, до 10, а затем начните считать сначала. Изменение алгоритма подсчета помогает удерживать ваше внимание. </li>
                    <li>Сосредоточьтесь на ощущениях, которые вызывает каждый вдох и выдох. Следуйте за ощущениями, которые создает ваше дыхание. Ощущая дыхание в груди или животе, мы замечаем как оно влияет на то, что происходит в нашем теле. </li>
                    <li>Сфокусируйте свое внимание на определённой части тела. Наблюдайте за своим дыханием, как поток воздух входит и выходит через нос. Обратите внимание на ощущения в области носа, исследуйте свое дыхание. </li>
                    <li>Последний шаг – непосредственно присутствие в моменте. Просто наблюдайте за всем, что происходит вокруг вас. Не отвлекайтесь на возникающие мысли, а если это происходит, возвращайтесь к наблюдению за дыханием. Обращайте внимание на малейшие детали, прислушивайтесь к звукам, которые вас окружают, ощущениям своего тела.</li>
                </ol>
                <h2>Преимущества осознанности </h2>
                <h3>1 – Уменьшает симптомы депрессии, снижает тревожность и стресс </h3>
                <p>
                    Исследования показывают, что осознанность может облегчать депрессивные состояния, снижать уровень беспокойства и стресса. Неудовлетворенные эмоциональные, психологические или физиологические потребности провоцируют тревожность, стресс, депрессию. Обучая распознавать и идентифицировать свои потребности, снимая эмоциональное напряжение, практики на основе осознанности помогают ослабить выраженность симптомов тревоги как в клинической, так и в доклинических терапии.

                </p>
                <h3>
                    2 – Улучшает качество сна
                </h3>
                <p>
                    Спокойный ум лучше спит. Терапия, основанная на осознанности, способствовала улучшению качества сна и решению проблем, вызванных дневной усталостью у пожилых людей. Также была выявлена положительная корреляция между качеством сна и общим самочувствием среди студентов университетов. Таким образом, осознанность помогает успокоить мысли, позволяет расслабиться и погрузиться в более глубокий и полноценный сон.

                </p>
                <h3>
                    3 – Улучшает концентрацию
                </h3>
                <p>
                    Регулярная практика осознанности позволяет нам оставаться в настоящем моменте. Наш мозг неизбежно будет отвлекаться, это человеческая природа. Осознанность является отличным инструментом, который помогает заметить, когда наши мысли начинают блуждать, и снова возвращает в настоящий момент. Так осознанность помогают улучшить внимательность и концентрацию.

                    В одном из научных обзоров были обобщены исследования, которые изучали наличие взаимосвязи между осознанностью и вниманием, и которые подтвердили, что она существует. В целом результаты 87 исследований показывают, что медитация улучшает общее внимание, помогая нам оставаться сосредоточенными.

                </p>
                <h3>
                    4 – Улучшает академическую успеваемость и профессиональные компетенции
                </h3>
                <p>
                    В последнее время многие образовательные учреждения включили осознанность в свой учебный план, что в итоге способствовало повышению качества знаний. Осознанность позволяет улучшить успеваемость, особенно в средней школе, что также оказывает влияние на посещаемость и уменьшает количество отчислений. Одно исследование показало, что методики на основе осознанности могут быть полезны для учащихся с ограниченными способностями, помогая им справляться с проблемами, связанными с обучением, улучшая их социальные навыки и успеваемость.

                    Помимо учебных заведений, принципы осознанности также получили распространение и в деловой сфере. Организации из самых разных областей промышленности используют их для повышения производительности. У сотрудников, прошедших обучение осознанности, улучшились навыки эмоциональной регуляции, они получали больше удовлетворение от работы и меньше страдали от профессионального выгорания.

                </p>
                <h3>
                    5 – Здоровые отношения и улучшение навыков общения
                </h3>
                <p>
                    Отношения – это взаимность, которая проявляется в том, чтобы чувствовать себя услышанным, когда мы говорим о своих потребностях, и умении слушать, когда близкие нам люди говорят о своих. Помогая нам определять свои потребности и удовлетворять их, практика осознанности таким образом пробуждает в нас сочувствие и сострадание по отношению к другим.

                    Практика осознанности способствует тому, что мы получаем больше удовлетворения от отношений и развиваем поддерживающие коммуникативные навыки. Основой поддерживающих отношений являются те качества, которые нужны для преодоления сложных ситуаций и эмоций, а именно забота, сочувствие и поощрение. Благодаря тому, что осознанность развивает в нас умение быть внимательными как к себе, так и к другим, способность сдерживать свои сиюминутные реакции и осуждающие мысли, она помогает нам создавать именно такие поддерживающие отношения.

                    Преимущества осознанности также могут распространяться на отношения между родителями и детьми: одно исследование показало, что после восьми недель обучения осознанности, проводимого для семей, дети стали больше ценить своих родителей, развив навык эмоциональной регуляции и улучшив свою способность к эмпатии.

                </p>
                <h3>
                    6 – Развивает благодарность
                </h3>
                <p>
                    Практики осознанности способствуют развитию чувства благодарности, позволяя нам видеть красоту настоящего момента и радоваться ей. Одно исследование показало, что осознанность и благодарность смогли оказать статистически значимое влияние в стрессовых жизненных ситуациях. Занимаясь практиками на основе осознанности, мы лучше преодолеваем сложные эмоции, развиваем наши отношения и улучшаем общее самочувствие. Благодарность стоит того, чтоб делиться ею с другими. Иногда бывает трудно сблизиться с другими людьми и свободно выражать свою благодарность, заботу и привязанность. Нам может казаться, что они и так знают, что мы чувствуем, хотя, возможно, они очень хотят услышать это от вас. Разве не хотим мы слышать, как нас любят? Как кто-то радуется общению с нами ?

                    Осознанность позволяет нам более ярко ощущать красоту жизни, учит ценить ее и радоваться ей.

                </p>
                <h3>
                    7 – Управление болью
                </h3>
                <p>
                    Практика медитации и осознанности не обязательно означает, что мы всегда умиротворены и спокойны. Однако именно в трудные моменты жизни осознанность может быть особенно полезной. Такая техника, как сканирование тела, поможет справиться с болью, определить ее источник и то, как мы себя чувствуем в этой дискомфортной ситуации.

                    Практика осознанности может помочь справиться с хронической и острой болью. Так, практики на основе осознанности использовались как часть лечения онкологических больных, снижая уровень стресса и негатива. Кроме того, беременные женщины, практикующие осознанность, лучше себя чувствовали, легче переносили боль схваток и быстрее восстанавливались после родов.

                    Все мы знаем, что боль не всегда бывает только физической, она может быть и эмоциональной. Такая боль часто выбивает нас из седла. Будь то потеря человека, отношений, работы, мечты, ощущения безопасности, это создает пустоту в нашей жизни, которую трудно принять. Психологи часто предлагают обратиться к практикам осознанности в случаях серьезных эмоциональных потрясений, чтобы справиться с шоком, грустью, гневом или страхом, которые неизбежно сопутствуют горю. Осознанность шаг за шагом поможет нам принять потерю, проявить терпение к себе и к тому, что мы чувствуем. Осознанность – это про принятие и постоянное присутствие даже в сложных ситуациях и эмоциях, поэтому она может быть особенно полезной в таких ситуациях. По мере того, как наши знания о себе выходят на новый уровень, нам будет легче смириться своей болью, тоской, разочарованием, гневом. Со временем эмоциональная боль потеряет свою остроту, и у вас появятся силы двигаться вперед.

                </p>
                <h3>
                    8 – Большее удовлетворение от жизни и психологическое здоровье
                </h3>
                <p>
                    Исследование доказали наличие взаимосвязи между практиками на основе осознанности и общей удовлетворенностью жизнью. Когда мы лучше осознаем различные аспекты своей жизни, свои потребности и текущую реальность, мы начинаем замечать красоту повседневности. Мы глубже ощущаем и больше ценим радость каждого дня.

                    Со временем мы развиваем более позитивное мышление, основанное на наших настоящих чувствах, а не на выдуманных или ложных эмоциональных состояниях, на так называемом токсическом позитиве. Осознанность способствует более открытому мышлению, мы становимся более терпеливыми по отношению к себе, другим и самой жизни. Осознанность расширяет наше восприятие действительности и формирует целостное мировоззрение, в рамках которого мы учимся ценить то, что у нас есть в настоящий момент.

                    Исследования также показали, что регулярная медитация идет на пользу нашему общему самочувствию и психологическому здоровью, снижая эмоциональную реактивность и регулируя поведение. Кроме того, осознанность помогает снизить уровень стресса в случаях серьезных заболеваний, таких как ВИЧ, депрессия, что положительно сказывается на результатах лечения.

                </p>
                <h3>
                    9 – Более глубокое понимание себя
                </h3>
                <p>
                    Не все любят оставаться наедине с собой, чувствуя себя одинокими без социальной или эмоциональной поддержки. В таких ситуациях эмоциональные потребности остаются неудовлетворенными и люди чувствуют обделёнными. Однако уединение не всегда означает одиночество. Мы являемся полноценными личностями сами по себе, и несмотря на то, что нам необходимо общество нам подобных, чтобы выжить, мы можем научиться получать удовольствие от пребывания наедине с собой. Осознанность может облегчить чувство одиночества, научив нас не испытывать дискомфорт наедине с собой, даже если это сложно, например, когда нам сложно принять себя такими, какие мы есть, или эмоции, которые мы испытываем.

                    Очень часто нам сложно проявлять любовь по отношению к себе. Самосострадание, основанное на осознанности, может быть отличным способом любить и принимать себя такими, какие мы есть.

                </p>
            </div>
            <a href="articlesUseful.html" class="back-button">Назад</a>
        </div>
    </div>
</main>


<footer class="footer">
    <div class="footer-container">
        <div class="about">
            <h2>О разработчиках</h2>
            <p>
                Выполнили студенты
            </p>
            <p>
                группы ИКБО-16-22
            </p>
            <p>
                Жолобов И.В.
            </p>
            <p>
                Панкратова А.К.
            </p>
            <p>
                Пархоменко Г.Д.
            </p>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/meditationOnline">Медитируй онлайн</a></li>
                <li><a href="/meditationMusic">Музыка для медитации</a></li>
                <li><a href="/articlesUseful">Полезные статьи</a></li>
                <li><a href="/meditationShop">Магазин</a></li>
            </ul>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/article10">О сне</a></li>
                <li><a href="/article11">О осознанности</a></li>
                <li><a href="#">О нас</a></li>
                <li>
                    <a href="/article8">Практики</a>
                </li>
                <li><a href="/feedback">Обратная связь</a></li>
            </ul>
        </div>

        <div class="contact">
            <h2>Контакты</h2>
            <ul class="contact-list">
                <li class="contact-list-item">
                    <a href="#">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Москва, проспект Вернадского, 78</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:izholobov2004@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                        <span>izholobov2004@gmail.com</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:pankratova.a.k@edu.mirea.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>pankratova.a.k@edu.mirea.ru</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:mc.goshanskyi@yandex.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>mc.goshanskyi@yandex.ru</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>