<!---БУДДИЙСКАЯ МЕДИТАЦИЯ-->


<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../static/css/main/header.css" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" href="../static/css/main/footer.css" th:href="@{/css/main/footer.css}">
    <link rel="stylesheet" href="../static/css/article/style.css" th:href="@{/css/article/style.css}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script
            src="https://kit.fontawesome.com/fd9c503804.js"
            crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/logo/logo.png}">
    <title>InnerCalmQuest.com</title>
</head>
<body>
<input type="checkbox" id="menu-toggle">
<!---Шапка-->
<header>
    <!--- Логотип в шапке-->
    <div class="header-logo">
        <img src="/image/logo/logo.png" alt="Логотип сайта">
    </div>
    <label for="menu-toggle" class="menu-icon"></label>
    <h1 class="header-title">Найди своё спокойствие!!!</h1>

    <!--- Меню выбора в шапке-->
    <nav class="header-nav">
        <ul>
            <li class="header-menu-item"><a class="header-menu-link" href="/">Главная</a></li>
            <li><a class="header-menu-link" href="/meditationOnline">Медитируй онлайн</a></li>
            <li><a class="header-menu-link" href="/meditationMusic">Музыка для медитации</a></li>
            <li><a class="header-menu-link" href="/articlesUseful">Полезные статьи</a></li>
            <li><a class="header-menu-link" href="/meditationShop">Магазин</a></li>
            <li><a class="header-menu-link" href="/feedback">Обратная связь</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="article-container">
        <img class="article-image" src="/image/article/article1.png" alt="Article Image">
        <div class="article-content">
            <div class="article-title">
                <h1>Буддийская медитация</h1>
            </div>
            <div class="article-text">
                <p>Буддизм учит двум видам медитаций:</p>
                <ol>
                    <li>Медитации сосредоточения *</li>
                    <li>Медитации постижения **</li>
                </ol>
                <p>*санскр. шаматха, тиб. шинэ — умиротворение</p>
                <p>**санскр. випашьяна, тиб. лхагтонг – высшее видение.</p>
                <p>Медитация сосредоточения нацелена на достижение концентрации или фокусировании ума (на чем-либо одном), а медитация постижения позволяет ученикам очистить свой ум и проникнуть в истинную природу вещей.
                    С технической точки зрения, сосредоточение – это основа постижения. Для его развития надо фиксировать ум на выбранном объекте, например, образе Будды, свете свечи, круге определенного цвета, или на дыхании. Буддийские тексты приводят сорок видов объектов для медитаций, но их список можно расширять бесконечно.
                    С другой стороны, практика медитации постижения заключается в направлении ума на природу вещей, в постоянной осознанности своей физической и мыслительной деятельности, для того чтобы глубоко проникать в истинную природу реальности и справиться с омрачениями ума. Вкратце, медитация постижения – это метод очищения ума от всех искажений.
                    Навыки и того, и другого вида медитации можно развивать одновременно; успехи в одном могут помочь и в другом. Но, в конечном счете, только совершенствование в медитации постижения ведет к высшей мудрости и очищает ум от омрачений раз и навсегда.
                    Оба вида медитации можно практиковать и применять в повседневной жизни. Оба вида чрезвычайно полезны для учеников. Однако тем, кто только начинает знакомиться с практикой медитации и не имеет предыдущего опыта, крайне желательно получить советы и помощь от опытного наставника.
                    Одним из наиболее популярных и на востоке, и на западе методов сосредоточения является концентрация на дыхании. Он заключается в том, чтобы следить за вдохами и выдохами. Концентрироваться можно на кончике носа или нижней части живота (даньтянь), которая поднимается и опускается вместе с дыханием. Другой эффективный и особо рекомендуемый метод концентрации – повторять в уме слово «Будда», вдыхая и выдыхая. Это так просто, что по силам даже ребенку, и при этом очень полезно в любых наших делах.</p>
                <ol type="a">
                    <li>Сядьте и скрестите ноги, положив правую ногу на левую. Если нужно, используйте подушку. Следите, чтобы спина была ровной.</li>
                    <li>Разверните ладони вверх и положите правую ладонь на левую.</li>
                    <li>Закройте глаза, расслабьте все тело, каждый мускул. Очистите ум от всех тревог и забот.</li>
                    <li>Вдыхайте и выдыхайте очень легко и глубже, чем обычно. Повторяйте в уме «буд-» на вдохе и «да» на выдохе. Не думайте ни о чем другом. Старайтесь контролировать свой ум, насколько это возможно.</li>
                </ol>
                <p>
                    Лучшие методы медитации постижения даны Буддой в знаменитой Сатипаттхана-сутте, Основах памятования или осознанности. Согласно ей, есть четыре объекта для практики: тело, ощущения, ум, содержание ума.
                    Осознанность – это ключ к медитации постижения. Практикуя эту медитацию, надо стремиться к постоянной осознанности всех действий, умственных и физических. Осознанность следует развивать до той степени, когда она становится естественной и доходит до автоматизма. Когда этот уровень достигнут, можно говорить о пребывании в осознанности. Это путь к духовному очищению.
                    И помните, что медитации лучше учиться не по книжкам, а у опытного наставника.
                </p>
            </div>
            <a href="articlesUseful.html" class="back-button">Назад</a>
        </div>
    </div>
</main>


<footer class="footer">
    <div class="footer-container">
        <div class="about">
            <h2>О разработчиках</h2>
            <p>
                Выполнили студенты
            </p>
            <p>
                группы ИКБО-16-22
            </p>
            <p>
                Жолобов И.В.
            </p>
            <p>
                Панкратова А.К.
            </p>
            <p>
                Пархоменко Г.Д.
            </p>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/meditationOnline">Медитируй онлайн</a></li>
                <li><a href="/meditationMusic">Музыка для медитации</a></li>
                <li><a href="/articlesUseful">Полезные статьи</a></li>
                <li><a href="/meditationShop">Магазин</a></li>
            </ul>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/article10">О сне</a></li>
                <li><a href="/article11">О осознанности</a></li>
                <li><a href="#">О нас</a></li>
                <li>
                    <a href="/article8">Практики</a>
                </li>
                <li><a href="/feedback">Обратная связь</a></li>
            </ul>
        </div>

        <div class="contact">
            <h2>Контакты</h2>
            <ul class="contact-list">
                <li class="contact-list-item">
                    <a href="#">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Москва, проспект Вернадского, 78</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:izholobov2004@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                        <span>izholobov2004@gmail.com</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:pankratova.a.k@edu.mirea.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>pankratova.a.k@edu.mirea.ru</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:mc.goshanskyi@yandex.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>mc.goshanskyi@yandex.ru</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>