<!---Осознанное дыхание-->


<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="../static/css/main/header.css" th:href="@{/css/main/header.css}">
  <link rel="stylesheet" href="../static/css/main/footer.css" th:href="@{/css/main/footer.css}">
  <link rel="stylesheet" href="../static/css/article/style.css" th:href="@{/css/article/style.css}">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <script
          src="https://kit.fontawesome.com/fd9c503804.js"
          crossorigin="anonymous"
  ></script>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/logo/logo.png}">
  <title>InnerCalmQuest.com</title>
</head>
<body>
<input type="checkbox" id="menu-toggle">
<!---Шапка-->
<header>
  <!--- Логотип в шапке-->
  <div class="header-logo">
    <img src="/image/logo/logo.png" alt="Логотип сайта">
  </div>
  <label for="menu-toggle" class="menu-icon"></label>
  <h1 class="header-title">Найди своё спокойствие!!!</h1>

  <!--- Меню выбора в шапке-->
  <nav class="header-nav">
    <ul>
      <li class="header-menu-item"><a class="header-menu-link" href="/">Главная</a></li>
      <li><a class="header-menu-link" href="/meditationOnline">Медитируй онлайн</a></li>
      <li><a class="header-menu-link" href="/meditationMusic">Музыка для медитации</a></li>
      <li><a class="header-menu-link" href="/articlesUseful">Полезные статьи</a></li>
      <li><a class="header-menu-link" href="/meditationShop">Магазин</a></li>
      <li><a class="header-menu-link" href="/feedback">Обратная связь</a></li>
    </ul>
  </nav>
</header>

<main>
  <div class="article-container">
    <img class="article-image" src="/image/article/article11.png" alt="Article Image">
    <div class="article-content">
      <div class="article-title">
        <h1>Осознанное дыхание</h1>
      </div>
      <div class="article-text">
        <p>
          Мы живы, пока мы дышим. Во многих языках слова дыхание, душа, дух имеют одинаковые корни, а значит люди издревле связывали эти понятия. Так, в латинском языке слово «spiritus» – дух происходит от слова «spiro» – дышу.

          Дыхание – это неотъемлемая часть нашей жизни с самого рождения, поэтому мы обычно не обращаем внимания на этот важнейший процесс. Осознанное дыхание – это способ привлечь внимание к дыханию через наблюдение за ним. Даже если мы просто прислушаемся к своим вдохам и выдохам, мы сможем многое узнать о себе. Дыхание помогает справиться с трудными ситуациями, а также усилить радостные эмоции, способствуя концентрации на настоящем моменте. Делая глубокий вдох, мы успокаиваемся, а выдыхая – отпускаем то, что нам больше не нужно.

        </p>
        <h2>
          Теоретические основы дыхания
        </h2>
        <p>
          Наше дыхание уникально. С одной стороны это процесс автоматический, но в то же время поддается регуляции, которая может происходить как произвольно, так и непроизвольно. Непроизвольную регуляцию дыхания осуществляет дыхательный центр, который поддерживает цикл дыхания на протяжение всей жизни. К произвольной регуляции дыхания мы прибегаем при разговоре, пении, чихании, кашле.
        </p>
        <h2>
          Преимущества осознанного дыхания
        </h2>
        <h3>
          Быстро, Просто, Доступно
        </h3>
        <p>
          Иногда нам нужен простой и быстрый способ справиться с трудными моментами жизни. Один из таких методов, который мы можем использовать, когда сталкиваемся с проблемой и чувствуем себя подавленными – это дыхание. Сосредоточение внимания на своем дыхании облегчит состояние за считаные секунды, перенося нас в настоящий момент. Даже одного глубокого вдоха может быть достаточно, чтобы время от времени расслабиться и перестроиться.

          А поскольку наше дыхание всегда с нами, это один из самых доступных способов восстановить контакт с самими собой. Думайте о дыхании как о своей сверхспособности: оно всегда с вами как источник силы и расслабления.
        </p>
        <h3>
          Надежный гайд
        </h3>
        <p>
          Думайте о своем дыхании как о проводнике и переводчике, дающем вам понять, что вы чувствуете и что вам нужно. Наблюдайте за тем, воздух проходит проходя через вас, как он трансформируется, распределяясь по телу. Ваше дыхание быстрое и поверхностное? Или медленное и глубокое?

          Иногда бывает трудно прислушаться к себе, мы не можем точно определить свои чувства и мысли, ведь наш мозг похож на гигантское информационное облако. В такие моменты дыхательные упражнения помогут прояснить эти эмоции, помогая нам лучше понять самих себя в этот момент. Еще один вариант использовать дыхание: вдыхая, думать о том, что вы хотите привнести в свою жизнь – возможно, это сострадание, любовь, энергия, а на выдохе отпускать то, от чего вы хотите избавиться – стресс, напряжение и предрассудки. Позвольте своему дыханию направлять вас.
        </p>
        <h3>
          Снижение тревожности
        </h3>
        <p>
          Дыхание может оказать неоценимую помощь в моменты, когда мы чувствуем тревогу. Результаты одного исследования говорят о том,  что регулярная практика осознанного дыхания снижает тревожность у студентов университетов перед экзаменами, способствуя позитивному настрою.

          Возможно, вы заметили, что ваше дыхание становится прерывистым и поверхностным, когда вы нервничаете или беспокоитесь. Иногда в такие моменты мы чувствуем себя подавленными, неспособными понять причины своих негативных мыслей и тревожности.

          Дыхательные упражнения создадут ощущение стабильности в моменты тревожности и неопределенности. Сделав глубокий вдох, вы снимите остроту физиологических реакций своего тела, замедлите сердечный ритм, расслабитесь и успокоите разум. Дыхание – наше убежище во время шторма. Это не означает, что мы игнорируем свои сложные эмоции, наоборот, это дает возможность жить с ними, наблюдая за собой из безопасного пространства.
        </p>
        <h3>
          Облегчение приступов нехватки воздуха
        </h3>
        <p>
          Когда вы нервничаете или возбуждены, а также после интенсивной физической активности у вас может возникнуть ощущение, что вам не хватает воздуха. Может казаться, что вы не в состоянии сделать вдох, потому что в ваших легких не осталось места. Так тело может сигнализировать о том, что ваши ресурсы ограничены, и вам нужно дополнительное пространство. Дыхание – отличный инструмент для создания такого пространства. Осознанное дыхание помогает настроиться на ритм вдохов и выдохов, замедляя и удлиняя их. По мере погружения в поток дыхания, вы откроете для себя умиротворяющее, незаполненное пространство между вдохами и выдохами, которое поможет вам справиться с ощущением нехватки воздуха, вызванное стрессом и тревогой. Воздух мягко и естественно заполнит это пустое пространство.
        </p>
        <h3>
          Управление болью
        </h3>
        <p>
          Жизнь не всегда сплошное удовольствие, иногда нам приходится испытывать недомогание и даже боль, и дыхание – один из инструментов, который поможет справиться с этим. В некоторых видах терапии и двигательных практиках дыхание используется для того, чтобы замедлиться и обрести опору. Было обнаружено, что упражнения на глубокое дыхание эффективны при лечении боли в пояснице, пациентов с ожогами, а также для уменьшения боли при родах. Такая концентрация на дыхании помогает нам распознать боль и наблюдать за ней, чтобы принять и преодолеть ее, не сопротивляясь.

          Когда вы чувствуете боль или дискомфорт, сделайте глубокий вдох и визуализируйте, как ваше дыхание достигает той части вашего тела, которая болит, исцеляя ее нежным прикосновением.
        </p>
        <h2>
          Техники осознанного дыхания
        </h2>
        <h3>
          Квадратное (коробочное) дыхание
        </h3>
        <p>
          Равные по длительности вдохи и выдохи помогают успокоить наше тело и расслабиться. Часто, когда мы не обращаем внимания на дыхание, наши выдохи становятся короткими и поверхностными. Квадратное или прямоугольное дыхание – один из наиболее эффективных методов удлинения выдоха, чтобы он стал таким же длинным, как и вдох.

          Это работает так: надо сделать вдох на четыре секунды, задержать дыхание на четыре секунды, выдохнуть на четыре секунды, а затем снова задержать дыхание на четыре секунды перед следующим вдохом. Выполняя это упражнение, вы можете представить себе квадрат или даже очертить его форму пальцем в воздухе во время вдохов и выдохов. Преимущество этой техники в том, что она позволяет ощущать паузы между вдохами, и наблюдать, как они текут естественным образом во время каждого цикла.

        </p>
        <h3>
          Дыхание Льва
        </h3>
        <p>
          Дыхание Льва – одно из лучших упражнений для снятия напряжения, расслабления лицевых мышц и веселья. Техника получила свое название от звука, который сопровождает мощный выдох и очень напоминает рычание льва.

          Чтобы практиковать эту технику, примите удобное положение сидя. Откройте рот, высуньте язык и громко выдохните, как если бы вы пытались издать звук «Ха». Это упражнение слегка напоминают радостную собаку, выглядывающую из окна машины и радостно высовывающую язык.

          Если вам неловко выполнять это упражнение в присутствии других людей, делайте его наедине с собой. Или попробовуйте его с любимым человеком, чтобы вместе посмеяться и научиться принимать себя и свое тело во всех его проявлениях.

          Дыхание льва должно быть громким, вселяющим в вас уверенность, ведь это своеобразная возможность заявить о себе миру здесь и сейчас. В суете и хаосе повседневной жизни бывает трудно почувствовать свою ценность, и нам может казаться, что нас не слышат. Используйте дыхание льва как как способ напомнить о себе, о своем месте и роли в этом мире.

          Львиное дыхание может быть забавным, поэтому позвольте себе от души повеселиться. Когда вам надоест быть серьезным и солидным взрослым, попробуйте подурачиться, выполняя львиное дыхание, чтобы добавить хоть немного беззаботности в свою жизнь. Смех – лучшее лекарство, поэтому иногда посмеяться над собой очень даже полезно.

        </p>
        <h3>
          Альтернативное дыхание
        </h3>
        <p>
          Исследования показывают, что альтернативное дыхание через ноздри успокаивает, оказывая расслабляющее действие на симпатическую нервную систему и усиливая активность парасимпатической нервной системы, которая отвечает за отдых и расслабление нашего тела.

          Эта техника состоит в том, чтобы поочередно вдыхать и выдыхать через одну ноздрю, а потом через другую. Положите большой палец правой руки на правую ноздрю, а безымянный палец правой руки – на левую. Надавите безымянным пальцем на левую ноздрю, чтобы закрыть ее, одновременно вдыхая через правую ноздрю. Теперь закройте большим пальцем правую ноздрю и поднимите безымянный палец, чтобы выдохнуть, а потом вдохнуть через левую ноздрю. Продолжайте делать вдохи и выдохи, чередуя ноздри, ощущая, как эта ритмичность помогает вам восстановить душевное равновесие.

        </p>
        <h3>
          Дыхание животом
        </h3>
        <p>
          Дыхание животом также известно как диафрагмальное дыхание, которое осуществляется преимущественно за счет мышц диафрагмы. При таком типе дыхания диафрагма на вдохе движется вниз, а на выдохе возвращается в исходное положение. Во время диафрагмального дыхания можно представлять, как воздух наполняет не только наши легкие, но и желудок.

          Лягте на ровную поверхность и положите одну руку на живот, другую – на грудь, чтобы чувствовать поток воздуха при вдохе и выдохе. Диафрагмальное дыхание глубже, чем обычное, поэтому на вдохе набирайте как можно больше воздуха, чтобы «наполнить желудок», а затем полностью его выдыхайте на выдохе. Повторите это упражнение столько раз, сколько считаете нужным, чтобы расслабиться и восстановить связь с собой.

        </p>
        <h3>
          Дыхание 4-7-8
        </h3>
        <p>
          Техника дыхания 4-7-8 – это одно из упражнений пранаямы (йогического дыхания), которое помогает снять напряжение, замедлиться и восстановить душевное равновесие. Само название техники подсказывает нам как ее выполнять. Вдохните через нос, считая до четырех. Затем задержите дыхание и сосчитайте до семи. И, наконец, выдохните, считая до восьми.

          Иногда может быть трудно делать такой длинный выдох, потому что обычно наши выдохи намного короче. Однако со временем и практикой вы сможете легко выполнять это упражнение.

        </p>
        <h2>
          Медитация осознанного дыхания
        </h2>
        <p>
          Все техники, описанные выше, можно включить в свою практику медитации. Концентрация на дыхании – один из наиболее часто используемых приемов во время медитации осознанности. Полностью присутствовать в моменте иногда бывает непросто, независимо от того, насколько давно вы практикуете осознанность. В те моменты, когда вы начинаете отвлекаться, наблюдение за дыханием поможет вернуться к практике. Постепенно ваша связь с дыханием будет усиливаться, способствуя более глубокому пониманию себя, и со временем вы увидите, как это отразиться на вашем теле и сознании.

          ICQ предлагает широкий выбор медитаций с использованием дыхательных техник. Вы можете практиковать их, чтобы улучшить сон, успокоиться, или когда вы просто хотите насладиться настоящим моментом.

        </p>

      </div>
      <a href="articlesUseful.html" class="back-button">Назад</a>
    </div>
  </div>
</main>


<footer class="footer">
  <div class="footer-container">
    <div class="about">
      <h2>О разработчиках</h2>
      <p>
        Выполнили студенты
      </p>
      <p>
        группы ИКБО-16-22
      </p>
      <p>
        Жолобов И.В.
      </p>
      <p>
        Панкратова А.К.
      </p>
      <p>
        Пархоменко Г.Д.
      </p>
    </div>

    <div class="nav">
      <h2>Навигация</h2>

      <ul class="nav-menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/meditationOnline">Медитируй онлайн</a></li>
        <li><a href="/meditationMusic">Музыка для медитации</a></li>
        <li><a href="/articlesUseful">Полезные статьи</a></li>
        <li><a href="/meditationShop">Магазин</a></li>
      </ul>
    </div>

    <div class="nav">
      <h2>Навигация</h2>

      <ul class="nav-menu">
        <li><a href="/article10">О сне</a></li>
        <li><a href="/article11">О осознанности</a></li>
        <li><a href="#">О нас</a></li>
        <li>
          <a href="/article8">Практики</a>
        </li>
        <li><a href="/feedback">Обратная связь</a></li>
      </ul>
    </div>

    <div class="contact">
      <h2>Контакты</h2>
      <ul class="contact-list">
        <li class="contact-list-item">
          <a href="#">
            <i class="fa-solid fa-location-dot"></i>
            <span>Москва, проспект Вернадского, 78</span>
          </a>
        </li>
        <li class="contact-list-item">
          <a href="mailto:izholobov2004@gmail.com">
            <i class="fa-solid fa-envelope"></i>
            <span>izholobov2004@gmail.com</span>
          </a>
        </li>
        <li class="contact-list-item">
          <a href="mailto:pankratova.a.k@edu.mirea.ru">
            <i class="fa-solid fa-envelope"></i>
            <span>pankratova.a.k@edu.mirea.ru</span>
          </a>
        </li>
        <li class="contact-list-item">
          <a href="mailto:mc.goshanskyi@yandex.ru">
            <i class="fa-solid fa-envelope"></i>
            <span>mc.goshanskyi@yandex.ru</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

</body>
</html>