<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/main/header.css" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" href="../static/css/main/footer.css" th:href="@{/css/main/footer.css}">
    <link rel="stylesheet" href="../static/css/meditationMusic/style.css" th:href="@{/css/meditationMusic/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script
            src="https://kit.fontawesome.com/fd9c503804.js"
            crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/logo/logo.png}">
    <title>InnerCalmQuest.com</title>
</head>
<body>

<input type="checkbox" id="menu-toggle">
<!---Шапка-->
<header>
    <!--- Логотип в шапке-->
    <div class="header-logo">
        <img src="/image/logo/logo.png" alt="Логотип сайта">
    </div>
    <label for="menu-toggle" class="menu-icon"></label>
    <h1 class="header-title">Найди своё спокойствие!!!</h1>

    <!--- Меню выбора в шапке-->
    <nav class="header-nav">
        <ul>
            <li class="header-menu-item"><a class="header-menu-link" href="/">Главная</a></li>
            <li><a class="header-menu-link" href="/meditationOnline">Медитируй онлайн</a></li>
            <li><a class="header-menu-link" href="/meditationMusic">Музыка для медитации</a></li>
            <li><a class="header-menu-link" href="/articlesUseful">Полезные статьи</a></li>
            <li><a class="header-menu-link" href="/meditationShop">Магазин</a></li>
            <li><a class="header-menu-link" href="/feedback">Обратная связь</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Музыка для медитации</h1>

    <div class="instrument-btn">
        <p>Струнные</p>
        <img src="/image/music/struna.png" alt="Инструмент 1" class="img">
        <button onclick="filterPlaylist(1)">Выбрать</button>
    </div>

    <div class="instrument-btn">
        <p>Вокал</p>
        <img src="/image/music/nota.png" alt="Инструмент 2" class="img">
        <button onclick="filterPlaylist(2)">Выбрать</button>
    </div>

    <div class="instrument-btn">
        <p>Духовые</p>
        <img src="/image/music/dudka.png" alt="Инструмент 3" class="img">
        <button onclick="filterPlaylist(3)">Выбрать</button>
    </div>
    <div class="instrument-btn">
        <pre>  Убрать
  фильтр</pre>

        <button onclick="resetPlaylist()">Выбрать</button>
    </div>
    <div class="song">
        <p> Paradise Chillout - Clouding </p>
    <audio class="audio-player" controls>
        <source src="/music/meditation1.mp3" type="audio/mp3">
        Ваш браузер не поддерживает аудио элемент.
    </audio>
    </div>

    <div class="sss">
    <div id="playlist">
        <h2>Плейлист</h2>
        <div class="song">
            <p> 1. Paradise Chillout - Clouding </p>
            <audio class="audio-player" controls>
                <source src="/music/meditation1.mp3" type="audio/mp3">
                Ваш браузер не поддерживает аудио элемент.
            </audio>
        </div>

        <div class="song">
            <p> 2. Aeoliah - For Your Love Only </p>
            <audio class="audio-player" controls>
                <source src="/music/meditation2.mp3" type="audio/mp3">
                Ваш браузер не поддерживает аудио элемент.
            </audio>
        </div>

        <div class="song">
            <p> 3. Morpheo - Under the Trees </p>
            <audio class="audio-player" controls>
                <source src="/music/meditation1.mp3" type="audio/mp3">
                Ваш браузер не поддерживает аудио элемент.
            </audio>
        </div>

        <div class="song">
            <p> 4. Fucca Music Sense - Deep Devotion </p>
            <audio class="audio-player" controls>
                <source src="/music/meditation4.mp3" type="audio/mp3">
                Ваш браузер не поддерживает аудио элемент.
            </audio>
        </div>

        <div class="song">
            <p> 5. Buvana - Ishvara Lila Yitellam </p>
            <audio class="audio-player" controls>
                <source src="/music/meditation5.mp3" type="audio/mp3">
                Ваш браузер не поддерживает аудио элемент.
            </audio>
        </div>

        <div class="song">
            <p> 6. Ressonnimo - Sol Naciente (Yoga & Meditation Version) </p>
            <audio class="audio-player" controls>
                <source src="/music/meditation6.mp3" type="audio/mp3">
                Ваш браузер не поддерживает аудио элемент.
            </audio>
        </div>

        <div class="song">
            <p> 7. Funkana - Softness Red (Zen Ambient Meditation) </p>
            <audio class="audio-player" controls>
                <source src="/music/meditation7.mp3" type="audio/mp3">
                Ваш браузер не поддерживает аудио элемент.
            </audio>
        </div>

        <div class="song">
            <p> 8. 8s8 - Cosmica (Original Mix) </p>
            <audio class="audio-player" controls>
                <source src="/music/meditation8.mp3" type="audio/mp3">
                Ваш браузер не поддерживает аудио элемент.
            </audio>
        </div>

        <div class="song">
            <p> 9. Chris Michell - Here and Now </p>
            <audio class="audio-player" controls>
                <source src="/music/meditation9.mp3" type="audio/mp3">
                Ваш браузер не поддерживает аудио элемент.
            </audio>
        </div>

        <div class="song">
            <p> 10. Govannen - Lady of the Lake </p>
            <audio class="audio-player" controls>
                <source src="/music/meditation10.mp3" type="audio/mp3">
                Ваш браузер не поддерживает аудио элемент.
            </audio>
        </div>
    </div>

    <div class="images">
        <!-- Добавьте картинки сюда -->
        <img src="/image/music/med_music.png" alt="Image 1">
        <p>
            В мире бескрайних звуков, где каждая нота — как капля росы на лепестке цветка, зарождается музыка для медитации. Это не просто последовательность звуков, а путеводная нить, ведущая в глубины своего внутреннего мира.
        </p>
        <p>
            Нежные аккорды плавно переплетаются, словно дыхание природы, и создают атмосферу покоя. Звуки струн, будто ласкающие пальцы ветра, переносят слушателя в застывший момент времени, где нет места суете и тревогам.
        </p>
        <p>
            Ритм музыки для медитации — это сердцебиение Вселенной, мантра, в которой заключены гармония и баланс. Звуки флейты или эмбиента словно приглашают на уединенное путешествие внутрь себя, где каждая нота становится ключом к внутреннему покою.
        </p>
        <p>
            Мелодии плавно текут, создавая пространство для размышлений и осознанности. В этом мире звуков каждая нота несет с собой энергию и исцеляющую силу, окутывая слушателя теплом и спокойствием.
        </p>
        <p>
            Музыка для медитации — это не просто фоновый звук, а инструмент, способный открыть двери в глубины души. Она помогает нам отпустить напряжение, найти внутренний покой и обрести гармонию с окружающим миром.
        </p>
        <p>
            Так давайте погрузимся в этот мир звуков, где каждая нота — это момент пробуждения и внутреннего покоя, где музыка становится проводником к самопознанию и гармонии.
        </p>
        <p>
            Созвучия струн и звуки природы становятся частью дыхания мира, напоминая о единстве с природой. Это не просто звуки, а эхо того, как каждая частица Вселенной взаимодействует с другой, создавая гармонию. Музыка для медитации — это врата в иной измерение, где мы можем погрузиться в свой внутренний ландшафт.
        </p>
        <p>
            Звуки тибетских посуд и эзотерических инструментов создают атмосферу духовного путешествия. Они словно переплетаются в воздухе, создавая магическую ткань, на которой покоится наше внимание. Это музыка, которая позволяет разгадывать тайны своего собственного "я".
        </p>
        <p>
            Ритмичные пульсации звуков создают ощущение течения времени, исчезающего в бескрайних просторах нашего внутреннего мира. Это не просто звуки, а мелодии, сплетенные из звездных следов на ночном небе, напоминая нам о том, что мы — всего лишь маленькая часть бескрайнего космоса.
        </p>
        <p>
            Музыка для медитации — это приглашение к внутреннему путешествию, где каждая нота — это шаг к осознанности, каждый аккорд — это дыхание, наполняющее наш внутренний мир светом и гармонией.
        </p>
    </div>

    </div>
    <script>
        function filterPlaylist(category) {
            // Получаем все аудиозаписи
            var songs = document.querySelectorAll('.song');

            // Скрываем все аудиозаписи
            songs.forEach(function(song) {
                song.style.display = 'none';
            });

            // Отображаем только аудиозаписи для выбранной категории
            var startIndex = (category-1) * 3+2;
            var endIndex = startIndex + 3;

            for (var i = startIndex; i < endIndex && i < songs.length; i++) {
                songs[i].style.display = 'block';
            }
            songs[0].style.display = 'block';
        }

        function resetPlaylist() {
            // Получаем все аудиозаписи
            var songs = document.querySelectorAll('.song');

            // Отображаем все аудиозаписи
            songs.forEach(function(song) {
                song.style.display = 'block';
            });
        }
    </script>


</main>


<footer class="footer">
    <div class="footer-container">
        <div class="about">
            <h2>О разработчиках</h2>
            <p>
                Выполнили студенты
            </p>
            <p>
                группы ИКБО-16-22
            </p>
            <p>
                Жолобов И.В.
            </p>
            <p>
                Панкратова А.К.
            </p>
            <p>
                Пархоменко Г.Д.
            </p>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/meditationOnline">Медитируй онлайн</a></li>
                <li><a href="/meditationMusic">Музыка для медитации</a></li>
                <li><a href="/articlesUseful">Полезные статьи</a></li>
                <li><a href="/meditationShop">Магазин</a></li>
            </ul>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/article10">О сне</a></li>
                <li><a href="/article11">О осознанности</a></li>
                <li><a href="#">О нас</a></li>
                <li>
                    <a href="/article8">Практики</a>
                </li>
                <li><a href="/feedback">Обратная связь</a></li>
            </ul>
        </div>

        <div class="contact">
            <h2>Контакты</h2>
            <ul class="contact-list">
                <li class="contact-list-item">
                    <a href="#">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Москва, проспект Вернадского, 78</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:izholobov2004@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                        <span>izholobov2004@gmail.com</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:pankratova.a.k@edu.mirea.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>pankratova.a.k@edu.mirea.ru</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:mc.goshanskyi@yandex.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>mc.goshanskyi@yandex.ru</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>