<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script
            src="https://kit.fontawesome.com/fd9c503804.js"
            crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/logo/logo.png}">
    <title>InnerCalmQuest.com</title>
    <link rel="stylesheet" href="../static/css/main/header.css" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" href="../static/css/main/footer.css" th:href="@{/css/main/footer.css}">

    <link rel="stylesheet" href="../static/css/Shop/style.css" th:href="@{/css/Shop/style.css}">
</head>
<body>
<input type="checkbox" id="menu-toggle">
<!---Шапка-->
<header>
    <!--- Логотип в шапке-->
    <div class="header-logo">
        <img src="/image/logo/logo.png" alt="Логотип сайта">
    </div>
    <label for="menu-toggle" class="menu-icon"></label>
    <h1 class="header-title">Найди своё спокойствие!!!</h1>

    <!--- Меню выбора в шапке-->
    <nav class="header-nav">
        <ul>
            <li class="header-menu-item"><a class="header-menu-link" href="/">Главная</a></li>
            <li><a class="header-menu-link" href="/meditationOnline">Медитируй онлайн</a></li>
            <li><a class="header-menu-link" href="/meditationMusic">Музыка для медитации</a></li>
            <li><a class="header-menu-link" href="/articlesUseful">Полезные статьи</a></li>
            <li><a class="header-menu-link" href="/meditationShop">Магазин</a></li>
            <li><a class="header-menu-link" href="/feedback">Обратная связь</a></li>
        </ul>
    </nav>
</header>
<div class="cont">
<aside class="cart-container">
    <aside class="sidebar">
    <h2>Ваша корзина:</h2>
    <ul id="cart" onclick="removeFromCart(event)"></ul>
    <p>Итог: <span id="total">0.00</span>₽</p>
    <button onclick="clearCart() " class="delete-all">Очистить корзину</button>
    </aside>
</aside>
<main>
<div class="container">
    <h1>Наш магазинчик</h1>
    <div class="sort-buttons">
        <button onclick="sortItems('asc')">Сортировать по возрастанию цены</button>
        <button onclick="sortItems('desc')">Сортировать по убыванию цены</button>
        <button onclick="resetSort()">Сбросить сортировку</button>
    </div>
    <div class="cards-container">
        <div class="card" id="product1">
            <h2>Гвозди</h2>
            <img src="/image/Shop/1.png" alt="Product 1">
            <p class="price">319.99₽</p>
            <button onclick="addToCart('Гвозди', 319.99)">Добавить</button>
        </div>
        <div class="card" id="product2">
            <h2>Чеснок</h2>
            <img src="/image/Shop/2.png" alt="Product 2">
            <p class="price">78.49₽</p>
            <button onclick="addToCart('Чеснок', 78.49)">Добавить</button>
        </div>
        <div class="card" id="product3">
            <h2>Острый перец</h2>
            <img src="/image/Shop/3.png" alt="Product 3">
            <p class="price">666.66₽</p>
            <button onclick="addToCart('Острый перец', 666.66)">Добавить</button>
        </div>
        <div class="card" id="product4">
            <h2>Столетнее яйцо</h2>
            <img src="/image/Shop/4.jpg" alt="Product 4">
            <p class="price">120.00₽</p>
            <button onclick="addToCart('Cтолетнее яйцо', 120.00)">Добавить</button>
        </div>
        <div class="card" id="product5">
            <h2>Подушка для медитации</h2>
            <img src="/image/Shop/5.jpg" alt="Product 5">
            <p class="price">343.49₽</p>
            <button onclick="addToCart('Подушка для медитации', 343.49)">Добавить</button>
        </div>
        <div class="card" id="product6">
            <h2>Свеча ароматическая</h2>
            <img src="/image/Shop/6.png" alt="Product 6">
            <p class="price">79.00₽</p>
            <button onclick="addToCart('Свеча ароматическая', 79.00)">Добавить</button>
        </div>
    </div>
</div>
<script src="/js/Shop.js"></script>
</main>
</div>
<footer class="footer">
    <div class="footer-container">
        <div class="about">
            <h2>О разработчиках</h2>
            <p>
                Выполнили студенты
            </p>
            <p>
                группы ИКБО-16-22
            </p>
            <p>
                Жолобов И.В.
            </p>
            <p>
                Панкратова А.К.
            </p>
            <p>
                Пархоменко Г.Д.
            </p>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/meditationOnline">Медитируй онлайн</a></li>
                <li><a href="/meditationMusic">Музыка для медитации</a></li>
                <li><a href="/articlesUseful">Полезные статьи</a></li>
                <li><a href="/meditationShop">Магазин</a></li>
            </ul>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/article10">О сне</a></li>
                <li><a href="/article11">О осознанности</a></li>
                <li><a href="#">О нас</a></li>
                <li>
                    <a href="/article8">Практики</a>
                </li>
                <li><a href="/feedback">Обратная связь</a></li>
            </ul>
        </div>

        <div class="contact">
            <h2>Контакты</h2>
            <ul class="contact-list">
                <li class="contact-list-item">
                    <a href="#">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Москва, проспект Вернадского, 78</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:izholobov2004@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                        <span>izholobov2004@gmail.com</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:pankratova.a.k@edu.mirea.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>pankratova.a.k@edu.mirea.ru</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:mc.goshanskyi@yandex.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>mc.goshanskyi@yandex.ru</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>