<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/main/header.css" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" href="../static/css/main/footer.css" th:href="@{/css/main/footer.css}">
    <link rel="stylesheet" href="../static/css/meditationVideo/meditationVideo.css" th:href="@{/css/meditationVideo/meditationVideo.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script
            src="https://kit.fontawesome.com/fd9c503804.js"
            crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/logo/logo.png}">
    <title>InnerCalmQuest.com</title>
</head>
<body>
<input type="checkbox" id="menu-toggle">

<header>
    <!--- Логотип в шапке-->
    <div class="header-logo">
        <img src="/image/logo/logo.png" alt="Логотип сайта">
    </div>
    <label for="menu-toggle" class="menu-icon"></label>
    <h1 class="header-title">Найди своё спокойствие!!!</h1>

    <!--- Меню выбора в шапке-->
    <nav class="header-nav">
        <ul>
            <li class="header-menu-item"><a class="header-menu-link" href="/">Главная</a></li>
            <li><a class="header-menu-link" href="/meditationOnline">Медитируй онлайн</a></li>
            <li><a class="header-menu-link" href="/meditationMusic">Музыка для медитации</a></li>
            <li><a class="header-menu-link" href="/articlesUseful">Полезные статьи</a></li>
            <li><a class="header-menu-link" href="/meditationShop">Магазин</a></li>
            <li><a class="header-menu-link" href="/feedback">Обратная связь</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Все видео</h1>
    <span><a href="/meditationOnline">Назад</a></span>

    <div class="cards">

        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eSzUNyWh0zg?si=FW37k19CKP-GX1mo"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Простая техника | 5 мин</h2>
            <p>В этом видео я расскажу о том, как научиться медитировать.
                Многие думают, что медитация - это что-то сложное и непонятное,
                но на самом деле это очень просто! И я расскажу о простой технике медитации,
                которую можно освоить буквально за 5 минут!</p>
        </div>

        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/F0p2dl_XpMc?si=cDU0iOKLfNe38FlN"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация для спокойствия | 7 мин</h2>
            <p>Выполняя данную медитацию, мы восстанавливаем энергетический ресурс нашего тела и ума. Успокаиваем
                центральную нервную систему. Настраиваем себя на определенный лад.</p>
        </div>

        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/29VXLjtc-Jo?si=DY6RkVfSURJO5aiD"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация на хороший день | 10 мин</h2>
            <p>Привет! Я Алина и это моя вторая медитация, так как первая (совершенно неожиданно) произвела довольно
                большой резонанс и пришлась сотням тысяч людей по душе. Сегодняшняя медитация направлена на то, чтобы
                после её прослушивания ранним утром или в обед, ты зарядился энергией, хорошим настроением и желанием
                жить и творить!</p>
        </div>
        <!--ААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААА-->
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JlAm9aSLIeI?si=XY0Lwf0DrXlbSofs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация для спокойствия | 10 мин</h2>
            <p>Эта медитация прекрасно подойдёт для окончания вашего дня. Если хотите ощутить полное расслабление -
                рекомендую принять положение лёжа. </p>
        </div>

        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0jGh_v8Z90c?si=N1vqyknaQV5Ded_e"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация для спокойствия | 15 мин</h2>
            <p>Медитация "Обретение внутреннего спокойствия и гармонии".
                Сейчас из-за непростой ситуации многие люди испытывают беспокойство и нервозность.
                Эта медитация поможет восстановить ваш внутренний эмоциональный баланс, наполнит расслаблением и
                настроит на позитивный лад.</p>
        </div>

        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4E4nzYMd77g?si=dXACTD2P4r-YGiEo"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация для удовлетворения | 15 мин</h2>
            <p>Трансовое наведение оргазмического состояния.
                Оргазм под гипнозом, это необычный опыт который стоит проделать несколько раз. С каждым разом, глубина
                погружения будет усиливаться вместе с ощущениями.
                Погружение в гипноз, это навык который стоит практиковать. Вместе с этим навыком растёт самоконтроль и
                эмоциональная стабильность, стоит этим пользоваться.</p>
        </div>
        <!--ААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААА-->
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3RYGa94Mygg?si=B3c9wQg_CDhyFyPc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Простая для концентрации | 15 мин</h2>
            <p>Предлагаю вам 15-ти минутную медиацию для улучшения работы внимания.
                Попросите чтобы ваши родные вас не беспокоили пока вы будете медитировать, переведите телефон в
                авиарежим.</p>
        </div>

        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fzNZHRV0KvQ?si=_9n2UgyUdYC8Y-VS"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация для концентрации | 10 мин</h2>
            <p>Этот прикладной метод, как самостоятельная система, позволяет получать приток жизненной силы в центр Воли
                и во все центры, приумножить её на клеточном уровне через энергизацию всех тел. </p>
        </div>

        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WLQ3M3Alq3I?si=d4ERwOtzGNQ2Tm9Q"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация для концентрации | 5 мин</h2>
            <p>Медитация начинается с Концентрации — умения удерживать свое внимание без отвлечений.
                – фокусировке на ощущении от дыхания.</p>
        </div>
        <!--ААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААА-->
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uIT1CM4iqp4?si=Y_E2NvAhnI4moiLC"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация для радости | 5 мин</h2>
            <p>Наполнение радостью и счастьем. Медитация Радость от Татьяны Мараховской</p>
        </div>

        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0m2mvuLjcgg?si=8ClL9UcORGYWqPi6"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация для радости | 7 мин</h2>
            <p>Мантра создает настроение, запускает поток эмоций, очищает внутренний мир и внешнее пространство. Она
                развивает подлинную душевную красоту и открывает сердце для любви.</p>
        </div>

        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-YWdIC55T-E?si=ZoK9KOPCykCv3lkd"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация для радости | 15 мин</h2>
            <p>Когда мы делаем после радости посвящение нашей цели (вторая часть кофе медитации), мы направляем эту
                энергию на конкретную цель, на определенный результат посредством посвящения. </p>
        </div>
        <!--ААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААА-->
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/edR8bnvF_wk?si=pcNh5a-pSPox72So"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация для уважения | 9 мин</h2>
            <p>это первая медитация, которую я самостоятельно создала. и она сделана для тебя. даже если ты не
                медитируешь регулярно, просмотром/прослушиванием этого видео ты сделаешь огромный вклад в себя. люблю.
                спасибо за поддержку, ибо я очень боялась выставлять видео такого формата</p>
        </div>

        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qX2-3O1sTQI?si=RA-Hd905sTbtXxhV"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация для любви к себе | 12 мин</h2>
            <p>Садись удобно, надевай наушники и закрывай глаза, приглашаю тебя в путешествие по твоему внутреннему миру
                вместе со мной. </p>
        </div>

        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9XxNp4dqLD4?si=Y2chu3s7VH9_gSBA"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <h2>Медитация для гармонии | 15 мин</h2>
            <p>15 минут, чтобы прийти к состоянию гармонии с собой и миром вокруг и установить связь с неиссякаемым
                источником энергии</p>
        </div>

    </div>
</main>

<footer class="footer">
    <div class="footer-container">
        <div class="about">
            <h2>О разработчиках</h2>
            <p>
                Выполнили студенты
            </p>
            <p>
                группы ИКБО-16-22
            </p>
            <p>
                Жолобов И.В.
            </p>
            <p>
                Панкратова А.К.
            </p>
            <p>
                Пархоменко Г.Д.
            </p>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/meditationOnline">Медитируй онлайн</a></li>
                <li><a href="/meditationMusic">Музыка для медитации</a></li>
                <li><a href="/articlesUseful">Полезные статьи</a></li>
                <li><a href="/meditationShop">Магазин</a></li>
            </ul>
        </div>

        <div class="nav">
            <h2>Навигация</h2>

            <ul class="nav-menu">
                <li><a href="/article10">О сне</a></li>
                <li><a href="/article11">О осознанности</a></li>
                <li><a href="#">О нас</a></li>
                <li>
                    <a href="/article8">Практики</a>
                </li>
                <li><a href="/feedback">Обратная связь</a></li>
            </ul>
        </div>

        <div class="contact">
            <h2>Контакты</h2>
            <ul class="contact-list">
                <li class="contact-list-item">
                    <a href="#">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Москва, проспект Вернадского, 78</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:izholobov2004@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                        <span>izholobov2004@gmail.com</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:pankratova.a.k@edu.mirea.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>pankratova.a.k@edu.mirea.ru</span>
                    </a>
                </li>
                <li class="contact-list-item">
                    <a href="mailto:mc.goshanskyi@yandex.ru">
                        <i class="fa-solid fa-envelope"></i>
                        <span>mc.goshanskyi@yandex.ru</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>