*{
    font-family: 'Arial', sans-serif;
}

main{
    padding: 20px; /* Внутренний отступ для контента */
    border-left-style: dashed;
    border-right-style: dashed;
}

#first img, #fourth img, #six img{
    float: left;
    width: 50%;
    margin-right: 20px;
    border-radius: 10px; /* Радиус скругления углов для изображений */
}

#second img, #fifth img{
    float: right;
    width: 50%;
    margin-left: 20px;
    border-radius: 10px; /* Радиус скругления углов для изображений */
}


main article{
    display: inline-block;
    padding: 0 20px 20px 20px;
}

/* Стилизация блока */
article.main-article {
    display: inline-block;
    padding: 20px;
    border-radius: 15px; /* Радиус скругления углов блока */
    background-color: #f4f4f4; /* Цвет фона блока */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока для добавления глубины */
    margin-bottom: 10px;
}

/* Улучшенные стили для текста */
article.main-article p, article.main-article li {
    font-family: 'Arial', sans-serif; /* Выберите подходящий шрифт */
    font-size: 18px;
    line-height: 1.6; /* Регулировка межстрочного интервала */
    color: #333; /* Цвет текста */
    text-align: justify; /* Добавляем выравнивание текста по ширине */
}

article.main-article li{
    padding-left: 10px;
}
article.main-article ol{
    list-style: none;
}
article.main-article h1, h2, h3{
    font-family: 'Arial', sans-serif; /* Выберите подходящий шрифт */
    color: #333; /* Цвет текста */
}

/* Стилизация кнопки */
article.main-article button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста на кнопке */
    border: none;
    border-radius: 5px; /* Радиус скругления углов кнопки */
}

/* Добавление немного стилей при наведении на кнопку */
article.main-article button:hover {
    background-color: #45a049; /* Цвет фона кнопки при наведении */
}

#third{
    display: block;
    background: #eeeeee;
    solid-color: #5b85da;
}
#third div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -8px;
    margin-top: -14px;
}
#third h1{
    margin-top: -8px;
}
.wrapper {
    max-width: 1200px;
    width: 100%;
    position: relative;
}
.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active{
    transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
    left: -22px;
}
.wrapper i:last-child{
    right: -22px;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3));
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .card {
    scroll-snap-align: start;
    height: 900px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    flex-direction: column;
    border-radius: 8px;
}
.card .img img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    border: 4px solid #4093ff;
}
.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}
.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
    text-align: justify; /* Добавляем выравнивание текста по ширине */
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}




